<!DOCTYPE html>
<html>
  <head>
    <title><%=yield(:title)%>Emily Potter Photography</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="headSec"> 
    <h1>Emily Potter Photography</h1>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Gallery</a></li>
    </ul>
    </header>
    <div class="container"></div>
    <%= yield %>
    </div>
    
  </body>
</html>
